---
title: "Re: a simple traffic load test run"
date: 2010-07-25T15:29:52.000Z
source: bitcointalk
sourceUrl: "https://bitcointalk.org/index.php?topic=567.msg5698#msg5698"
author: "Satoshi Nakamoto"
participants:
  - name: "Satoshi Nakamoto"
    slug: "satoshi-nakamoto"
description: "Satoshi Nakamoto's reply in the thread \"a simple traffic load test run\"."
isSatoshi: true
secondarySources:
  - name: "Satoshi Nakamoto Institute"
    url: "https://satoshi.nakamotoinstitute.org/posts/bitcointalk/267/"
---

Please do these tests on the test network.  That's what it's for.  Thanks.
