---
title: "Re: a simple traffic load test run"
date: 2010-07-25T14:46:33.000Z
source: bitcointalk
sourceUrl: "https://bitcointalk.org/index.php?topic=567.msg5694#msg5694"
author: "Satoshi Nakamoto"
participants:
  - name: "Satoshi Nakamoto"
    slug: "satoshi-nakamoto"
description: "Satoshi Nakamoto's reply in the thread \"a simple traffic load test run\"."
isSatoshi: true
secondarySources:
  - name: "Satoshi Nakamoto Institute"
    url: "https://satoshi.nakamotoinstitute.org/posts/bitcointalk/266/"
---

Was that on the test network?
[http://bitcointalk.org/index.php?topic=363.0](http://bitcointalk.org/index.php?topic=363.0)
